.App {
  text-align: center;
}

.App-header {
  background-color: #033076;
  min-height: 70px;
  padding: 20px;
  color: white;
  margin-bottom: 20px;
}

.App-title {
  font-size: 2em;
}

.App-intro {
  font-size: large;
}


h4 {
  font-style: italic;
}

/*table formatting*/
th, td {
  padding: 15px;
}

th{
  text-align: left;
  background-color: #eee;
}

tbody tr:nth-child(odd) {
  background-color: #fff;
}

tbody tr:nth-child(even) {
  background-color: #eee;
}

.highlighted{
  background-color: #FFFFE0;
}

.flagged{
  background-color: #FFCCCB !important;
}

.table-header{
  padding-left: 15px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

table{
  padding: 15px;
}

/*misc formatting*/

.login-bar{
  padding: 15px;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}